::-webkit-scrollbar-track {
    background-color: rgba(207, 205, 205, 0.5);
}
::-webkit-scrollbar {
    width: 6px;
    background: rgba(207, 205, 205, 0.5);
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: rgba(84, 84, 84, 0.7);
}